.search_filter_min{
    margin-left: 13%;
}

h2{
    margin-top: 4%;
    margin-bottom: 3%;
}

.switch_page {
    display: flex;
    margin-bottom:5%
}

.switch_page button{
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    width: 22%;
    font-size: 110%;
}

.switch_page button:hover{
    border-color: #FFC853;
}




/*search barre*/

.container_min div {
    width: 69%;
    border: 1px solid black;
    border-radius: 7px;
    height: 57px;
    display: flex;
    align-items: center;
    background-color:rgba(39, 37, 31, 0.05) ;
    font-size: 24 px;
  }


 .container_min div input {
    border:none;
    outline: none;
    width: 100%;
    background-color:rgba(39, 37, 31, 0) ;
    height: 30px;
  
  }

#search_min::placeholder{
  padding-left:10px ;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px;
}

.container_min button{
    color: rgba(0, 0, 0, 0.8) ;
    background-color: #FFC853;
    border-style: none;
    border-radius: 7px;
    height: 56px;
    width: 17%;
    margin-left: 25px;
    font-size: 140%;
  }



.container_min {
    display: flex;
    margin-bottom: 4%;
  }


  /*forme_student*/

.position_student{
  border: 1px solid black;
  width: 43%;
  height: 480px;
  margin-left: 8%;
  margin-top: 3%;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 4%;
  box-shadow: 2px  2px 3px rgba(39, 37, 31, 0.5);
  
}

.form_creation input{
  width: 90%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 3%;
}

.form_creation input::placeholder{
  padding-left:2% ;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px;
}

.button_delete_submit{
  display: flex;
}

#soumettre{
  color: rgba(0, 0, 0, 0.8) ;
  background-color: #FFC853;
  border-style: none;
  border-radius: 12px;
  height: 56px;
  width: 35%;
  margin-left: 20%;
  font-size: 140%;
  margin-top: 4%;
  
}


#delete{
  width: 10%;
  margin-left: 2%;
  border-style: none;
  border-radius: 12px;
  height: 56px;
  margin-top: 4%;
  background-color: rgba(39, 37, 31, 0.15)
}


#delete i{
 text-decoration: none;
 color: black;
 padding-left: 30%;
 padding-top: 20%;
 font-size: 200%;
}

#update{
  color: rgba(0, 0, 0, 0.8) ;
  text-decoration: none;
  background-color: #FFC853;
  border-style: none;
  border-radius: 12px;
  height: 56px;
  width: 35%;
  margin-left: 20%;
  font-size: 140%;
  margin-top: 4%;
  padding-top: 2%;
  padding-left: 3%;
}

.add{
  position: fixexd;
  width: 29%;
  height: 50px;
  border-radius: 12px;
  border:1px solid black;
  box-shadow: 2px  2px 3px rgba(39, 37, 31, 0.5);
  background-color: #fff;
  font-size: 125%;
  margin-right: 1%;
  margin-left: 10%;
}

.display-list_offer_min{
  overflow-y: scroll;
  height: 89%;
  width: 30%;
  margin-left: -29%;
  margin-top: 5%;
  
  
}


/*forme_student*/


.position_offer{
  border: 1px solid black;
  width: 43%;
  height: 870px;
  margin-left: 8%;
  margin-top: 3%;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 4%;
  box-shadow: 2px  2px 3px rgba(39, 37, 31, 0.5);
  
}

.text_area label{
  padding-left:2% ;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px;
}

#description{
  margin-top: 3%;
  background-color: rgba(39, 37, 31, 0.05)
}



/*forme entreprise*/
.position_entreprise{
  border: 1px solid black;
  width: 43%;
  height: 720px;
  margin-left: 8%;
  margin-top: 3%;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding-left: 5%;
  padding-top: 4%;
  box-shadow: 2px  2px 3px rgba(39, 37, 31, 0.5);
}

.stars{
  margin-left: 30%;
  margin-top: 2%;
  margin-bottom: 5%;
  
}

.stars p{
  margin-left: -40%;
  margin-bottom: 2%;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px; 
  
}

.fa-regular.fa-star{
  font-size: 35px;

}





