/*style barre de recherche et bouton rechercher*/

.container div {
    width: 869px;
    border: 1px solid black;
    border-radius: 7px;
    height: 57px;
    display: flex;
    align-items: center;
    background-color:rgba(39, 37, 31, 0.05) ;
    font-size: 24 px;
  }


 .container div input {
    border:none;
    outline: none;
    width: 100%;
    background-color:rgba(39, 37, 31, 0) ;
    height: 30px;
  
  }

#search::placeholder{
  padding-left:10px ;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px;
}

 .fa-magnifying-glass {
    color: rgba(39, 37, 31, 0.5);
    padding-left: 15px;
    padding-right: 20px;
    font-size: 30px;
  }

  button{
  color: rgba(0, 0, 0, 0.8) ;
  background-color: #FFC853;
  border-style: none;
  border-radius: 7px;
  height: 56px;
  width: 224px;
  margin-left: 25px;
  font-size: 24px;
}

.container {
  display: flex;
  margin-bottom: 20px;
}



/*partie filtre */
.selecteur{
  width: 170px;
  background-color:rgba(39, 37, 31, 0.05);
  border-radius: 5px;
  border-width: 1px;
  height:58px;
  appearance: none;
  padding-left:30px;
  margin-right: 20px;
  font-size: 24px;

}

.select{

  display: flex;
  align-items: center;
}

.select i{
  position: absolute;
  margin-left: 127px;
  color: rgba(39, 37, 31, 0.5);
  transform: rotate(90deg);
  height: 15px;
  width: 19.91px;
}

.filtre {
  
  display: flex;
  margin-left: 50px;
}



.selecteur#Domaines{
    width: 190px;
}
.selecteur#Entreprises{
    width: 210px;
}



.select#Domaine,#Entreprise{

  display: flex;
  align-items: center;
}

.select#Domaine i{
  margin-left: 153px;

}

.select#Entreprise i{
  
  margin-left: 173px;
 
}


/*positionment filtre et barre de recherhce*/



.filtre-recherche{
    display: inline-block;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
 }






 @media screen and (max-width: 900px){
   
 }



 /*style affichage des annonces*/
 .display{
  width: 100%;
  background-color:rgba(39, 37, 31, 0.05);
  height: 192px ;
  padding-top: 5%;
  padding-bottom: 5%;
}

.display-list_offer{
  overflow-y: scroll;
  height: 100%;
  width: 30%;
  margin-left: 5%;
  
}
 .annonce{
  border:1px solid black;
  max-width: 100%;
  max-height: 111%;
  border-radius: 15px;
  padding-left: 1%;
  box-shadow: 2px  2px 3px rgba(39, 37, 31, 0.5);
  background-color: #fff;
  margin-bottom: 5%;

}
.titre_offre{
  display: flex;
}

.name_entreprise {
  padding-left: 5%;
  
}







