/*style barre de recherche et bouton rechercher*/

.container div {
    width: 869px;
    border: 1px solid black;
    border-radius: 7px;
    height: 57px;
    display: flex;
    align-items: center;
    background-color:rgba(39, 37, 31, 0.05) ;
    font-size: 24 px;
  }


 .container div input {
    border:none;
    outline: none;
    width: 100%;
    background-color:rgba(39, 37, 31, 0) ;
    height: 30px;

  }

#search::placeholder{
  padding-left:10px ;
  color: rgba(0, 0, 0, 0.8) ;
  font-size: 20px;
}

 .fa-magnifying-glass {
    color: rgba(39, 37, 31, 0.5);
    padding-left: 15px;
    padding-right: 20px;
    font-size: 30px;
  }

  .container button{
  color: rgba(0, 0, 0, 0.8) ;
  background-color: #FFC853;
  border-style: none;
  border-radius: 7px;
  height: 56px;
  width: 224px;
  margin-left: 25px;
  font-size: 24px;
}

.container {
  display: flex;
  margin-bottom: 20px;
}



/*partie filtre */
.selecteur{
  width: 170px;
  background-color:rgba(39, 37, 31, 0.05);
  border-radius: 5px;
  border-width: 1px;
  height:58px;
  appearance: none;
  padding-left:30px;
  margin-right: 20px;
  font-size: 24px;

}

.select{

  display: flex;
  align-items: center;
}

.select i{
  position: absolute;
  margin-left: 127px;
  color: rgba(39, 37, 31, 0.5);
  transform: rotate(90deg);
  height: 15px;
  width: 19.91px;
}

.filter {

  display: flex;
  margin-left: 50px;
}



.selecteur#Domaines{
    width: 190px;
}
.selecteur#Entreprises{
    width: 210px;
}



.select#Domaine,#Entreprise{

  display: flex;
  align-items: center;
}

.select#Domaine i{
  margin-left: 153px;

}

.select#Entreprise i{

  margin-left: 173px;

}


/*positionment filtre et barre de recherhce*/



.search_filter{
    display: inline-block;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
 }






 @media screen and (max-width: 900px){

 }

 /*Le CSS suivant permet d'afficher les offres en grand quand on click dessus*/

.grande_offre{
  box-sizing: border-box;
  position: absolute;
  width: 683px;
  height: 692px;
  left: 50%;
  background: #FFFFFF;
  border: 1px solid #27251F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  visibility: hidden;
}

.titre{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    padding-left: 41px;
}

.btnpostul{
  color: rgba(0, 0, 0, 0.8) ;
  background-color: #FFC853;
  border-style: none;
  border-radius: 12px;
  height: 56px;
  width: 174px;
  margin-left: 20%;
  font-size: 140%;
}

.btnfavoris{
    width: 56px;
    height: 56px;
    background: rgba(39, 37, 31, 0.1);
    border-radius: 15px;
    border-style: none;
    margin-left: 85%;
}

.description{
    padding-left: 42px;
}

.divbtns{
    display: flex;
}

.entreprise{
    display: flex;
    padding-left: 41px;
}

.titreentreprise{
    width: 108px;
    height: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #27251F;
    font-variation-settings: 'slnt' 0;
    margin-right: 1%;
}

.note{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #27251F;
  font-variation-settings: 'slnt' 0;
  margin-right: 1%;
}

.lieux{
width: 57px;
height: 27px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
color: #27251F;
font-variation-settings: 'slnt' 0;
padding-left: 41px;
}

.titredescription{
    padding-left: 41px;
    padding-top: 20%;
}

.fa-solid.fa-heart{
  font-size: 200%;
}

.fa-solid.fa-heart:hover{
  color: red;
}